@charset "UTF-8";

:root{
    --verdeClaro: rgba(70, 167, 180, 0.5);
    --azulClaro: rgb(192, 206, 208);
    --azulEscuro: rgb(1, 31, 60);
    --preto: rgba(0, 0, 0, 0.5);
    --branco: rgba(255, 255, 255, 0.9);
}

body{
    width: 90vw;
    border: 1px solid var(--preto);
    border-left: none;
    border-right: none;
    padding: 10px;
    margin:auto;
    background-color: var(--azulClaro);
}
header{
    padding: 10px;
    margin:-10px -10px 10px -10px;
    position: relative;
    padding-bottom: 15%;
}
#logotipo img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 28%;
    height: 100%;

}
header h1{
    text-align: center;
    font-size: 3.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--azulEscuro); 
    position: absolute;
    top: 5%;
    right: 23%;
    width: 50%;
    height: 90%;
}
#descricoes{
    border: 2px solid var(--preto);
    border-radius: 10px;
    padding: -10px;
    background-color: var(--verdeClaro);
}
#descricoes h1{
    text-align: center;
    font-size: 3em;
    color: var(--azulEscuro);  
    margin: 10px -10px 10px ;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-family:  Arial, Helvetica, sans-serif;
   
}
.titleAtv{
    text-align: center;
    font-size: 2em;
    color: var(--azulEscuro); 
    background-color: var(--azulClaro);
    padding: 5px;    
    margin: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-family:  Arial, Helvetica, sans-serif;
   
}

.atividadeDescrita{
    border: 2px solid var(--preto);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    position: relative;
    padding-bottom: 30%;
    background-color: var(--azulClaro);
}
.atividadeDescrita div p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    text-align:justify;
    font-size: 1.1em;
    color: var(--azulEscuro);
    line-height:normal;
    text-indent: 25px;    
}
#atividade1,#atividade3,#atividade5{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 60%;
    height: 90%;
    background-color: var(--azulClaro);
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
}
#imagem1,#imagem3,#imagem5{
    border: 1px solid red;
    position: absolute;
    top: 5%;
    right: 2%;
    width: 30%;
    height: 90%;
}
#atividade2,#atividade4,#atividade6{
    position: absolute;
    top: 5%;
    right: 2%;
    width: 60%;
    height: 90%;
    background-color: var(--azulClaro);
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
}
#imagem2,#imagem4,#imagem6{
    border: 1px solid red;
    position: absolute;
    top: 5%;
    left: 2%;
    width: 30%;
    height: 90%;
}



#fotosDosTrabalhos{
    border: 1px solid var(--preto);
    padding: 10px;
    margin:auto;
}
footer{
   border: 1px solid var(--preto);
}