:root{
    --verdeClaro: rgba(70, 167, 180, 0.5);
    --azulClaro: rgb(192, 206, 208);
    --azulEscuro: rgb(1, 31, 60);
    --preto: rgba(0, 0, 0, 0.5);
    --branco: rgba(255, 255, 255, 0.9);
}

body{
    width: 90vw;
    border: 1px solid var(--preto);
    border-left: none;
    border-right: none;
    padding: 10px;
    margin:auto;
    background-color: var(--azulClaro);
}
header{
    padding: 10px;
    margin:-10px -10px 10px -10px;
    position: relative;
    padding-bottom: 15%;
}
#logotipo img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 28%;
    height: 100%;

}
header h1{
    text-align: center;
    font-size: 3.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--azulEscuro); 
    position: absolute;
    top: 5%;
    right: 23%;
    width: 50%;
    height: 90%;
}

#paginaPrincipal{
    border-radius: 10px;
    padding: 10px;
    margin:auto;
    display: block;
    position: relative;
    padding-bottom: 60%;
    border: 2px solid var(--preto);
    margin: 10px -10px -10px -10px;
    background-color: var(--verdeClaro);
}
#historia{
    font-size: 1.1em;
    border-radius: 10px;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 60%;
    height: 90%;
    border: 2px solid var(--preto);
    border-radius: 10px;
    background-color: var(--azulClaro);
}
#historia h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    color: var(--azulEscuro);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#historia p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    color: var(--azulEscuro)
}
#atividades{
    border: 2px solid var(--preto);
    border-radius: 10px;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 28%;
    height: 90%; 
    background-color: var(--azulClaro);
}
#atividades h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em ;
    padding: 5px;
    border: 1px solid var(--preto);
    border-radius: 5px;
    margin: 5px;
    color: var(--azulEscuro);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#atividades p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--azulEscuro);
    padding: 5px;
    border: 1px solid var(--preto);
    border-radius: 5px;
    margin: 5px;  
}


footer{
    border: 1px solid var(--preto);
    border-left: none;
    border-right: none;
    padding: 10px;
    margin: 10px -10px -10px -10px
}

