:root{
    --verdeClaro: rgba(70, 167, 180, 0.5);
    --verdeClaro2: rgb(25, 95, 105);
    --azulClaro: rgb(181, 202, 206);
    --azulEscuro: rgb(1, 31, 60);
    --preto: rgba(0, 0, 0, 0.5);
    --branco: rgba(255, 255, 255, 0.9);
}

body{
    width: 90vw;
    padding: 10px;
    margin:auto;
    background-color: var(--azulClaro);
}
header{
    padding: 10px;
    margin:-10px -10px -10px -10px;
    position: relative;
    padding-bottom: 15%;

}
#logotipo>img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 28%;
    height: 90%;

}
header h1{
    text-align: center;
    font-size: 4em;
    color:var(--azulEscuro); 
    position: absolute;
    top: 5%;
    right: 23%;
    width: 50%;
    height: 90%;
  
}
#desAtv{
    border: 1px solid var(--preto);
    border-radius: 10px;
    padding: -10px;
}
#desAtv>h1{
    text-align: center;
    font-size: 3em;
    color: var(--verdeClaro2);  
    margin: 10px -10px 10px ;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.247);
}
.titleAtv{
    text-align: center;
    font-size: 2em;
    color: var(--azulEscuro); 
    background-color: var(--azulClaro);
    border-radius: 10px;
    display:inline-block;
    padding: 5px;    
    margin: 2px;
}

.atvDet{
    border: 1px solid var(--preto);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    position: relative;
    padding-bottom: 30%;
    background-color: var(--verdeClaro);

}
#atv1,#atv3,#atv5{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 60%;
    height: 90%;
    background-color: var(--azulClaro);
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
}
#img1,#img3,#img5{
    position: absolute;
    border: 2px solid rgb(180, 32, 32);
    top: 5%;
    right: 2%;
    width: 30%;
    height: 90%;
}
#atv2,#atv4,#atv6{
    position: absolute;
    top: 5%;
    right: 2%;
    width: 60%;
    height: 90%;
    background-color: var(--azulClaro);
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
}
#img2,#img4,#img6{
    position: absolute;
    border: 2px solid rgb(180, 32, 32);
    top: 5%;
    left: 2%;
    width: 30%;
    height: 90%;
}
.atvDet>div>p{
    margin: 2px;
    text-align:justify;
    font-size: 1.1em;
    color: var(--azulEscuro);
    line-height:normal;
    text-indent: 25px;
    
}


#fotosDosTrabalhos{
    border: 1px solid var(--preto);
    padding: 10px;
    margin:auto;
}
footer{
   border: 1px solid var(--preto);
}