@charset "UTF-8";
@font-face {
    font-family: pollerOne;
    src: url(../fonts/PollerOne-Regular.ttf);
}
@font-face {
    font-family: croissantOne;
    src: url(../fonts/CroissantOne-Regular.ttf);
}
:root{
    --azulNuvemLogo: rgba(39, 255, 219, 0.3);
    --azulFonteLogo: rgba(11, 43, 45, 0.7);
    --backgroundDark: rgba(0, 0, 0); 
    --backgroundligth: rgba(238, 238, 238);
    --textoPreto:rgba(0, 0, 0);
    --textoBranco: rgba(255, 255, 255, 0.8);
    --sombra: rgba(0, 0, 0, 0.3);
    --sombraBranca: rgba(255, 255, 255, 0.3);
    --linkVisitado: #d8709305;
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
body{
    width: 90vw;
    transition: .7s;
}
header{
    position: relative;
    padding-bottom: 20%;
}
#posicaoMD{
    position: absolute;
    right: 1%;
    bottom: 20%;
}
.trilho{
    display: block;
    width: 20px;
    height: 10px;
    background-color: var(--white);
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    border: var(--black) solid 2px;
}
.indicador{
    width: 10px;
    height: 10px;
    background-color: var(--black);
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition:.5s;    
}
.trilho.dark{
    background-color: var(--black);
    border:2px solid var(--white);
}
.trilho.dark .indicador{
    left: 10px;
    background-color: var(--white);
}
 #menuButton{
    position: absolute;
    top: 15%;
    right: 1%;
    cursor: pointer;
    border: none;
    border: 2px solid var(--black);   
    border-radius: 50%;
    padding: 2px;
    background-color: var(--white);
}
#menuButton img{
    width: 16px;
    height: 20px;
    display: grid;
    place-items: center;
}
header h1{
    position: absolute;
    top: 10%;
    margin: -10px 0px 0px 0px;
    width: 90%;
}
#ab{
    font-size: 0.6em;
    font-family: croissantOne;
}
#epa{
    font-size: 0.9em;
    font-weight:bold;
    font-family: croissantOne;
}

a{
    font-size: 0.7em;
    font-weight: bolder;
}
#logotipo img{
    width: 100%;
}
h2{
    font-family: pollerOne;
    font-size: 1.7em;
    font-weight: bolder;
}
p{
    font-size: 1.5em;
    font-weight: 600;
}
li{
    list-style-type: none;
    margin: 2px;
    padding: 10px;
}

/* Formatação do carrossel*/
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    margin: 0 auto;
}
.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-track img {
    width: 100%;
    flex: 0 0 100%;
    object-fit: cover;
}
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
@media screen and (min-width: 481px) and (max-width: 789px){
    header{
        padding-bottom: 15%;
    }
    #ab{
        font-size: 1em;    
    }
    #epa{
        font-size: 1.5em;  
    }
    #menuButton{
        top: 20%;
    }
    #menuButton img{
        width: 25px;
        height: 25px;
    }
    #posicaoMD{
        bottom: 20%;
    }
    .trilho{
        width: 30px;
        height: 15px;
    }
    .indicador{
        width: 15px;
        height: 15px;  
    }
    .trilho.dark .indicador{
        left: 15px;
    }
    a{
        font-size: 1em;
    }
    h2{
        font-size: 3em;
    }
    p{
        font-size: 2em;
    }
    li{
        font-size: 1.5em;
    }
    .carousel-container{
        max-width: 789px;
    }
}
@media screen and (min-width: 790px) and (max-width: 1366px){
    header{
        padding-bottom: 10%;
    }
    h1{
        left: 15%;
    }
    #ab{
        font-size: 1em;    
    }
    #epa{
        font-size: 1.5em;  
    }
    #menuButton{
        top: 20%;
        right: 15%; 
        padding: 4px;
    }
    #menuButton img{
        width: 20px;
        height: 20px;
    }
    #posicaoMD{
        bottom: 20%;
        right: 15%;
    }
    .trilho{
        width: 30px;
        height: 15px;
    }
    .indicador{
        width: 15px;
        height: 15px;  
    }
    .trilho.dark .indicador{
        left: 15px;
    }
    a{
        font-size: 0.6em;
    }
    h2{
        font-size: 1.9em;
    }
    p{
        font-size: 2em;
    }
    li{
        font-size: 1.1em;
    }
    .carousel-container{
        max-width: 789px;
    }
    .container{
        position: relative;
        padding-bottom: 50%;
    }
    .posicao1{
        position: absolute;
        top: 5%;
        left: 15%;
        width: 40%;
    }
    .posicao2{
        position: absolute;
        top: 10%;
        right:10%;
    }
   #logotipo img{
        width: 100%;
        max-width: 1000px;
    }
    .containerTextos{
        position: relative;
        padding-bottom: 60%;
    }
    .posicaoTitulo{
        position: absolute;
        top: 10%;
        left: 15%;
    }
    .posicaoTexto{
        position: absolute;
        top: 10%;
        right: 8%;
        width: 40%;
    }
}
@media screen and (min-width: 1367px){
    header{
        padding-bottom: 10%;
    }
    h1{
        left: 20%;
    }
    #ab{
        font-size: 1em;    
    }
    #epa{
        font-size: 1.5em;  
    }
    #menuButton{
        top: 20%;
        right: 20%;
        padding: 4px;
    }
    #menuButton img{
        width: 20px;
        height: 20px;
    }
    #posicaoMD{
        bottom: 40%;
        right: 20%;
    }
    .trilho{
        width: 30px;
        height: 15px;
    }
    .indicador{
        width: 15px;
        height: 15px;  
    }
    .trilho.dark .indicador{
        left: 15px;
    }
    a{
        font-size: 0.6em;
    }
    h2{
        font-size: 2.2em;
    }
    p{
        font-size: 2em;
    }
    li{
        font-size: 1.1em;
    }
    .carousel-container{
        max-width: 789px;
    }
    .container{
        position: relative;
        padding-bottom: 20%;
    }
    .posicao1{
        position: absolute;
        top: 5%;
        left: 20%;
        width: 40%;
    }
    .posicao2{
        position: absolute;
        top: 10%;
        right:15%;
    }
   #logotipo img{
        width: 100%;
        max-width: 1000px;
    }
    .containerTextos{
        position: relative;
        padding-bottom: 35%;
    }
    .posicaoTitulo{
        position: absolute;
        top: 10%;
        left: 20%;

    }
    .posicaoTexto{
        position: absolute;
        top: 10%;
        right: 10%;
        width: 40%;
    }
}
