@charset "UTF-8";
*{font-family: Arial, Helvetica, sans-serif;}
:root{
    --azulNuvemLogo: #27ffdb57;
    --azulFonteLogo: #0b2b2dc7;
    --black: #000000;
    --sombra: #00000080;
    --white: #eeeeee;
    --linkVisitado: #d8709305;
}

