
#menu{
    position: relative;
}
#botao-Voltar{
    position: absolute;
    top: 18%;
    right: 2%;
    cursor: pointer;
    border: none;
    color: #fff3f3;
    background-color: #000000;
    text-decoration: none;
    
}
#menuOpcoes{
    position: absolute;
}
li>a{
    color: white;
}
#areaServicos{
    color: white
}