@charset "UTF-8";
:root{
    --azulNuvemLogo: #27ffdb57;
    --azulFonteLogo: #0b2b2dc7;
    --black: #000000;
    --sombra: #00000080;
    --white: #eeeeee;
    --linkVisitado: #d8709305;
}

#menu{
    position: relative;
}
#botao-Voltar{
    position: absolute;
    top: 18%;
    right: 1%;
    cursor: pointer;
    border: none;
    text-decoration: none;
}
#menuOpcoes{
    position: absolute;
}
li{
    border: 1px solid var(--sombra);
    border-radius: 10px;
}
.dark li{
    border: 1px solid var(--white);
}
a{
    color: var(--black);
    text-decoration: none; 
    font-size: 1.2em;
    display: block;
    padding: 10px;
    margin: -10px;
}
li>a:visited{
    color: var(--linkVisitado);
}
.dark li>a:visited{
    color: var(--linkVisitado);
}
#areaServicos{
    color: var(--black);
    font-size: 1.2em;
    text-decoration: none; 
    cursor:auto;
    padding-left: 10px;
}
#menuServicos li{
    margin-left: -35px;
    border-radius: 10px;

}

body.dark #areaServicos{
    color: var(--white);
}